- var projectList = viewData.projectList;

header(class="projects__tabs")
  nav(class="projects__nav")
    input(id="live-menu" type="checkbox")
    label(for="live-menu" class="projects__toggle") Live Projects
    ul(class="projects__menu")
      each project, i in projectList
        if project.group === "live"
          li
            a(data-target=project.group + "-" + i) #{project.title}
  nav(class="projects__nav")
    input(id="wip-menu" type="checkbox")
    label(for="wip-menu" class="projects__toggle") In Development
    ul(class="projects__menu")
      each project, i in projectList
        if project.group === "wip"
          li
            a(data-target=project.group + "-" + i) #{project.title}
h1(class="projects__title") Portfolio
each project, i in projectList
  article(class=(i === 0 ? "projects__tile projects__tile--active" : "projects__tile") data-group=project.group + "-" + i)
    figure(class="projects__thumb" data-group=project.group style="background-image:url('" + project.image +"')")
    div(class="projects__desc")
      each pg in project.description
        p=pg
each project, i in projectList
  nav(class=(i === 0 ? "projects__links projects__links--active" : "projects__links") data-group=project.group + "-" + i)
    a(class="projects__code" href=project.code) Code
    a(class="projects__demo" href=project.demo) Demo
  footer(class=(i === 0 ? "projects__tech projects__tech--active" : "projects__tech") data-group=project.group + "-" + i)
    each tech in project.techs
      span=tech