- var projectList = viewData.projectList;

article(class="project-view")
  header(class="project-view__tabs")
    nav(class="project-view__nav")
      input(id="live-menu" type="checkbox")
      label(for="live-menu" class="project-view__toggle") Live Projects
      ul(class="project-view__menu")
        each project, i in projectList
          if project.group === "live"
            li
              a(data-target=project.group + "-" + i) #{project.title}
    h1(class="project-view__title") Portfolio
    nav(class="project-view__nav")
      input(id="wip-menu" type="checkbox")
      label(for="wip-menu" class="project-view__toggle") In Development
      ul(class="project-view__menu")
        each project, i in projectList
          if project.group === "wip"
            li
              a(data-target=project.group + "-" + i) #{project.title}
each project, i in projectList
  section(class=(i === 0 ? "project-view project-view__tile--active" : "project-view") data-group=project.group + "-" + i)
    figure(class="project-view__thumb" data-group=project.group)
      article(class="project-view__desc")
        each pg in project.description
          p= pg
  nav(class=(i === 0 ? "project-view__links" : "project-view__links  project-view__links--active") data-group=project.group + "-" + i)
    a(class="project-view__code" href=project.code) Code
    a(class="project-view__demo" href=project.demo) Demo
  footer(class=(i === 0 ? "project-view__tech" : "project-view__tech project-view__tech--active"))
    each tech in project.techs
      span=tech